.skills__title {
  padding: 25px;
  font-size: 4em;
  text-align: center;
}
ul {
  color: white;
}
.horizontal-click {
  font-size: 1.5em;
  background-color: rgba(204, 204, 204, 0.1);
  box-shadow: 5px 5px 15px 3px #000000;
  max-width: 300px;
  margin: 0 auto 20px;
  color: #ccc;
}
.horizontal-click [name='vkl'] {
  display: none;
  margin: 0 20px;
}
.horizontal-click > :not(input):not(label) {
  overflow: hidden;
  height: 0;
  padding: 0 0.5em;
  border-top-style: none;
  transition: 0.2s;
}
.horizontal-click > label {
  border-bottom: 5px solid black;
  overflow: hidden;
  display: block;
  padding: 0.5em 1em;
  background: rgba(204, 204, 204, 0.4);
  color: #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.horizontal-click > :checked + label + * {
  overflow: auto;
  padding: 20px;
  height: 100%;
}
.horizontal-click > :checked + label {
  background: rgba(204, 204, 204, 0.4);
  cursor: pointer;
}
@media (min-width: 815px) {
  .horizontal-click {
    font-size: 2em;
    max-width: 700px;
  }
}
