.footer {
  background-color: rgb(129, 52, 38);
  width: 100%;
  display: flex;
  justify-content: space-around;

  position: fixed;
  bottom: 0;
}
.github {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
span {
  width: 100%;
  padding: 12px;
}
img {
  width: 20px;
  height: 20px;
}
