.main {
  width: 100%;
  background-color: rgb(32, 9, 54);
}
.main__title {
  font-size: 5em;
  padding: 40px;
}

@media (max-width: 527px) {
  .main__title {
    font-size: 3em;
    text-align: center;
  }
  .main__subtitle {
    font-size: 1.5em;
    text-align: center;
    padding: 1em 1em;
  }
}
