.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgb(4, 4, 32);
}
.header__main {
  padding: 30px 50px;
}
.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 128px;
}
.header__title {
  font-size: 5em;
}
.header__subtitle {
  font-size: 2em;
  text-align: right;
}
.navigation {
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  max-width: 1440px;
  padding: 20px 0;
  background-color: slategrey;
  z-index: 100;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
}
.navigation__item {
  display: block;
  font-size: 1.2em;
  text-transform: uppercase;
}
.navigation__item:hover {
  text-decoration: underline;
}

@media (max-width: 527px) {
  .navigation {
    margin-bottom: 64px;
  }
  .navigation__item {
    font-size: 0.5em;
  }
  .header__content {
    margin-top: 64px;
  }
  .header__main {
    text-align: center;
    padding: 1em 1em;
  }
  .header__title {
    font-size: 3em;
  }
  .header__subtitle {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 1em;
  }
  .header__subtitle::before {
    position: absolute;
    text-align: left;
    content: '';
    width: 70%;
    height: 2px;
    background-color: brown;

    margin-bottom: 1em;
  }
}
